<header>
  <div class="header-logo">
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="about">TweetAppとは</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>AboutTweetApp</h2>
  <p>
    It's service is SNS
  </p>
</div>
