<header>
  <div class="header-logo">
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="about">TweetAppとは</a>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-massage">
    <h2>つぶやきで、世界は繋がる</h2>
    <h2>今の気持ちをつぶやいてみよう！</h2>
  </div>
</div>
